<!-- <div class="splash" [ngStyle]="{left:windowWidth}">[ngStyle]="{transform:transform, left:windowWidth}" -->
<div class="splash splashrotate" [ngStyle]="{left:windowWidth}" >
        <!-- <div *ngIf="showSplash" class="splash-inner" [ngStyle]="{transform:transform}"> -->
        <div fxLayout="row" fxLayoutAlign="center center" [style.height.px]="height"[style.width.px]="width">
            <img src="../../assets/image/svg/final-waka-tech-01.svg" style="width:301px; height:105px"/>
        </div>
    <!-- </div> -->
</div>
