<div [style.width.px] = "width"></div>
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav (mouseover)="sidenavMousein()"  (mouseout)="sidenavMouseout()" [mode]="mode" id="sidenav" [opened]="!isMobileView" [style.height.px]="ht" class="snbgclr">
    <div  >
      <div>
        <img src={{cusLogo}} class="smalllogo mgntop10 unhide" />
        <div class="aligncenter hide" style="width:100%">
          <img src="../../assets/image/svg/final-waka-tech-plain.svg" style="width:144px; height:auto; margin-top:10px"/>
        </div>
        <!-- <hr style="width:100%; margin-top:11px;"> -->
        <div *ngFor="let module of moduleColl">
            <div class="mgntop20 unhide">
              <div fxLayout="row" fxLayoutAlign="center start" style="width:100%">
                <mat-icon *ngIf="module.icon!=undefined" class="pointer clrwhite" style="padding-right:3px" [ngClass]="{'bdrright':module.is_selected}" (click)="isPendInvite=false; getSubModule(module)">{{module.icon}}</mat-icon>
                <img *ngIf="module.icon==undefined&&module.svg!=undefined" src="../../assets/image/svg/{{module.svg}}" style="width:24px; height:auto; padding-right:3px" class="pointer clrwhite" [ngClass]="{'bdrright':module.is_selected}" (click)="isPendInvite=false; getSubModule(module)" />
                <mat-icon *ngIf="module.icon==undefined&&module.svg==undefined" class="pointer clrwhite" style="padding-right:3px" [ngClass]="{'bdrright':module.is_selected}" (click)="isPendInvite=false; getSubModule(module)">support</mat-icon>
              </div>
            </div>
            <div class="mgntop20 hide">
              <div fxLayout="row" fxLayoutAlign="start start" style="width:100%">
                <mat-icon *ngIf="module.icon!=undefined" class="pointer clrwhite" style="padding-right:3px" [ngClass]="{'bdrright':module.is_selected }" (click)="isPendInvite=false; getSubModule(module)">{{module.icon}}</mat-icon>
                <img *ngIf="module.icon==undefined&&module.svg!=undefined" src="../../assets/image/svg/{{module.svg}}" style="width:24px; height:auto; padding-right:3px" class="pointer clrwhite" [ngClass]="{'bdrright':module.is_selected}" (click)="isPendInvite=false; getSubModule(module)" />
                <mat-icon *ngIf="module.icon==undefined&&module.svg==undefined" class="pointer clrwhite"  style="padding-right:3px"[ngClass]="{'bdrright':module.is_selected}" (click)="isPendInvite=false; getSubModule(module)">support</mat-icon>
                <div *ngIf="!module.is_selected" class="clrwhite mgnleft10 pointer" style="padding-right:3px" (click)="isPendInvite=false; getSubModule(module)">{{module.module_name}}</div>
                <div *ngIf="module.is_selected" class="clrwhite mgnleft10 pointer" style="padding-right:3px" (click)="isPendInvite=false; getSubModule(module)">{{module.module_name}}</div>
              </div>
              <mat-list *ngIf="togAdmin && module.subModules.length>0">
                <div *ngFor="let submodule of module.subModules"> 
                  <mat-list-item style="border-left: 1px solid var(--white); margin-left:10px" >
                    <span class="clrwhite pointer" (click)="isPendInvite=false; navigateSubModule(submodule)">{{submodule.sub_module_name}}</span>
                  </mat-list-item>
                </div>
              </mat-list>
            </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'padding-left': (mode=='over') ? '48px' : '0'}" id="sidemain" class="bgclr"><!-- style="margin-left: 48px !important;" -->
    <div [style.height.px]="ht-headHt">
      <app-login-header></app-login-header>
      <!--mat-tab-group *ngIf="isPendInvite || isPendContactInvite" style="margin:60px 16px 16px 16px">
        <mat-tab *ngIf="isPendInvite" label="Pending Contact Company">
       <div *ngIf="isPendInvite" style="margin:60px 16px 16px 16px" fxLayout="center center" fxLayoutGap="25px">
        <table mat-table #table [dataSource]="pendingInviteColl" matSort style="border:1px lightgray solid; border-radius: 10px; margin-top:18px; width:97%">
          <ng-container matColumnDef="company_name">
              <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>INVITED COMPANY NAME</th>
              <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.invitee_company_name}}</td>
          </ng-container>
          <ng-container matColumnDef="invitee_company_name">
              <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>YOUR COMPANY</th>
              <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.invitee_company_name}}</td>
          </ng-container>
          <ng-container matColumnDef="invitee_company_type">
              <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>INVITED AS</th>
              <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.invitee_company_type}}</td>
          </ng-container>
          <ng-container matColumnDef="status">
              <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>STATUS</th>
              <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">
                <mat-radio-group aria-label="Select an option"  color="primary"[(ngModel)]="selStatus" (change)="onChange($event.value, element)">
                  <mat-radio-button *ngFor="let stat of statusColl" class="mgnleft10 capitalize" [value]="stat">{{stat}}</mat-radio-button>
                  </mat-radio-group>
              </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayPending; sticky: true;" class="tblrowht"></tr>
          <tr mat-row class="tr-rowalt-light" *matRowDef="let row; columns: displayPending;"></tr>
      </table>
      </div>
    </mat-tab>
    <mat-tab *ngIf="isPendContactInvite" label="Pending Contact Invite"> 
      <div *ngIf="isPendContactInvite" style="margin:60px 16px 16px 16px" fxLayout = "center center" fxLayoutGap="25px">
          <table mat-table #table [dataSource]="pendingContactInviteColl" matSort style="border:1px lightgray solid; border-radius: 10px; margin-top:18px; width:97%">
            <ng-container matColumnDef="company_name">
                <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>INVITED COMPANY NAME</th>
                <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.invited_company_name}}</td>
            </ng-container>
            <ng-container matColumnDef="contact_name">
                <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>CONTACT NAME</th>
                <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.contact_name}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>STATUS</th>
                <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">
                  <mat-radio-group aria-label="Select an option"  color="primary"[(ngModel)]="selStatus" (change)="onChangeContact($event.value, element)">
                    <mat-radio-button *ngFor="let stat of statusColl" class="mgnleft10 capitalize" [value]="stat">{{stat}}</mat-radio-button>
                  </mat-radio-group>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayContactPending; sticky: true;" class="tblrowht"></tr>
            <tr mat-row class="tr-rowalt-light" *matRowDef="let row; columns: displayContactPending;"></tr>
          </table>
     </div>
   </mat-tab>
      </mat-tab-group-->
      <router-outlet [style.width.px]="width"></router-outlet>
      <app-mobile-nav></app-mobile-nav>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>