.keys-header-new {
    background: var(--tabbg);
  }

::ng-deep .mat-expansion-panel-body {
  background-color: var(--white) !important;
}

::ng-deep .mat-tab-body-content {
  overflow-x: hidden !important;
  overflow-y: auto;
}