<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
	<mat-progress-spinner color='primary' mode="indeterminate" value="50"></mat-progress-spinner>
</div>

<div style="margin:60px 16px 0px 16px;">
    <div style="display: block; margin:0 auto;">
        <mat-icon class="pointer" (click)="onClose()" style="font-size:26px; color: #465e72; position:fixed; top: 80px; right: 20px;">close</mat-icon>
        <form [formGroup]="form" fxFlex="100" style="margin-top: 50px;">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div class="inputbox" style="width:300px !important">
                    <div class="label">Company Name</div>
                    <mat-select placeholder="Company" formControlName="Company" name="Company" class="capitalize font_12" (selectionChange)="getCompRole($event.value)" required>
                        <mat-option class="capitalize" *ngFor="let ele of compColl" [value]="ele.company_id">{{ele.company_name}} - {{ele.lookup_name}}
                        </mat-option>
                    </mat-select>
                    <div fxLayout="column">
                        <mat-error style="margin-left:-30px; padding-top:6px; margin-top:6px;" *ngIf="form.get('Company').invalid&&form.get('Company').dirty || form.get('Company').touched" class="txterror">{{getErrorMessage(form.get('Company'),'Company')}}</mat-error>
                    </div>
                </div>    
                <div class="inputbox" style="width:300px !important">
                      <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                        <div  class="label">Role Name</div>
                        <input class="text" onkeypress="return /[a-zA-Z ]/i.test(event.key)" placeholder="Role Name" formControlName="RoleName" name="RoleName" id="RoleName" (keyup)="validateRoleName()" onkeyup="this.value=this.value.replace(/[^\+\w]+\s/,'')" required>
                         <!--
                           <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                          <mat-option *ngFor="let option of AssignedRolesOfCompany" [value]="option.role_name">
                            {{option.role_name}}
                          </mat-option>
                        </mat-autocomplete>   
                         -->                  
                      </div>
                    <div fxLayout="column">
                        <mat-error style="margin-left:-30px; padding-top:6px; margin-top:6px;" *ngIf="form.get('RoleName').invalid&&form.get('RoleName').dirty" class="txterror">{{getErrorMessage(form.get('RoleName'),'RoleName')}}</mat-error>
                    </div>
                </div>
                <div class="inputbox" style="width:300px !important">
                    <div class="label">Module Name</div>
                    <mat-select placeholder="Module" formControlName="Module" name="Module" class="capitalize font_12" (selectionChange)="getRolePermission($event.value)" required>
                        <mat-option class="capitalize" *ngFor="let ele of moduleColl" [value]="ele">{{ele.module_name}}</mat-option>
                    </mat-select>
                    <div fxLayout="column">
                      <mat-error style="margin-left:-30px; padding-top:6px; margin-top:6px;" *ngIf="form.get('Module').invalid&&form.get('Module').dirty || form.get('Module').touched" class="txterror">{{getErrorMessage(form.get('Module'),'Module')}}</mat-error>
                  </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center" style="margin-top:50px;">
                <div *ngIf="roleModuleColl.length !=0">   
                    <mat-expansion-panel style="width:1000px; margin-bottom:80px;" hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span *ngIf="roleModuleColl.length !=0">{{roleModuleColl[0].module_name}}</span>
                                    </mat-panel-title>
                                        <mat-icon>expand_more</mat-icon>
                            </mat-expansion-panel-header>
                            <table style="width:100%; margin-top:20px;" mat-table [dataSource]="permissionColl" class="mat-elevation-z8">
                                <ng-container matColumnDef="sub_module">
                                  <th mat-header-cell *matHeaderCellDef class="font_14"> Sub Modules </th>
                                  <td mat-cell *matCellDef="let element"> {{element.sub_module}} </td>
                                </ng-container>
                                <ng-container matColumnDef="create_role">
                                  <th mat-header-cell *matHeaderCellDef class="font_14"> Create </th>
                                  <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index">
                                      <mat-icon *ngIf="element.create_role && element.view_role" id="create_role{{i}}" style="color:green" class="pointer" (click)="element.create_role=false">check_circle</mat-icon>
                                      <mat-icon *ngIf="!element.create_role &&  element.view_role" id="create_role{{i}}" style="color:red" class="pointer" (click)="element.create_role=true">cancel</mat-icon>
                                      <mat-icon *ngIf="!element.create_role && !element.view_role" id="create_role{{i}}" style="color:grey">cancel</mat-icon>
                                      <mat-icon *ngIf="element.create_role && !element.view_role" id="update_role{{i}}" style="color:grey">cancel</mat-icon>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="view_role">
                                  <th mat-header-cell *matHeaderCellDef class="font_14"> View </th>
                                  <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index">
                                    <mat-icon *ngIf="element.view_role" id="view_role{{i}}" style="color:green" class="pointer" (click)="element.view_role=false; checkTicked(ele)">check_circle</mat-icon>
                                    <mat-icon *ngIf="!element.view_role" id="view_role{{i}}" style="color:red" class="pointer" (click)="element.view_role=true; checkTicked(i)">cancel</mat-icon>
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="update_role">
                                  <th mat-header-cell *matHeaderCellDef class="font_14"> Update </th>
                                  <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index">
                                    <mat-icon *ngIf="element.update_role && element.view_role" id="update_role{{i}}" style="color:green" class="pointer" (click)="element.update_role=false">check_circle</mat-icon>
                                    <mat-icon *ngIf="!element.update_role && element.view_role" id="update_role{{i}}" style="color:red" class="pointer" (click)="element.update_role=true">cancel</mat-icon>
                                    <mat-icon *ngIf="!element.update_role && !element.view_role" id="update_role{{i}}" style="color:grey">cancel</mat-icon>
                                    <mat-icon *ngIf="element.update_role && !element.view_role" id="update_role{{i}}" style="color:grey">cancel</mat-icon>                               
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="delete_role">
                                    <th mat-header-cell *matHeaderCellDef class="font_14"> Delete </th>
                                    <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index">
                                        <mat-icon *ngIf="element.delete_role && element.view_role" id="delete_role{{i}}" style="color:green" class="pointer" (click)="element.delete_role=false">check_circle</mat-icon>
                                        <mat-icon *ngIf="!element.delete_role && element.view_role" id="delete_role{{i}}" style="color:red" class="pointer" (click)="element.delete_role=true">cancel</mat-icon>
                                        <mat-icon *ngIf="!element.delete_role && !element.view_role" id="delete_role{{i}}" style="color:grey">cancel</mat-icon>
                                        <mat-icon *ngIf="element.delete_role && !element.view_role" id="update_role{{i}}" style="color:grey">cancel</mat-icon>      
                                      </td>                                
                                    </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                    </mat-expansion-panel>
                </div>
              </div>
        </form>
    </div>
</div>
<footer layout="row" *ngIf="roleModuleColl.length !=0 && panelOpenState">
    <mat-toolbar style="position:fixed; bottom:4px; width:100%; background-color: var(--activebg); height: 72px;" fxLayoutAlign="end center">
      <div *ngIf="isSelected || isEditMode" fxLayoutAlign="end" style="margin-right:60px;">
        <button class="btnpri btnprifull"  [disabled]="form.invalid" id="btnNext" style="width: 100px !important; height: 40px !important; padding:0px;" (click)="savePermission()"><span class="clrwhite">{{buttonTitle}}</span></button>
      </div>
    </mat-toolbar>
</footer>