:host >>> .mat-figure{
    padding-top: 2px !important;
    align-items: start !important;
    justify-content: flex-start !important;
}

.work_in_progress{
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}