<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
	<mat-progress-spinner color='primary' mode="indeterminate" value="50"></mat-progress-spinner>
</div>
<div style="margin:60px 16px 16px 16px;" >
        <div fxLayout="row" fxLayoutAlign="end center" class="tabSideAction" fxLayoutGap="15px">
            <div *ngIf="!isInviteTab" class="inputboxsingle inboxminwidth">
                <div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
                    <mat-icon class="icon">search</mat-icon>
                    <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                        <input class="text" type="text" (keyup)="applyCompanyFilter($event)" placeholder="Search by Company Name, etc..." name="CompanyLocalName" id="CompanyLocalName" required>
                    </div>
                </div>
            </div>
            <div *ngIf="isInviteTab" class="inputboxsingle inboxminwidth">
                <div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
                    <mat-icon class="icon">search</mat-icon>
                    <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                        <input class="text" type="text" (keyup)="applyAssociatedCompanyFilter($event)" placeholder="Search by Company Name, etc..." name="CompanyLocalName" id="CompanyLocalName" required>
                    </div>
                </div>
            </div>
            <mat-button-toggle-group [(ngModel)]="summaryToggle" >
                <mat-button-toggle value="table" style="line-height: 36px;">
                    <mat-icon>format_list_bulleted</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle disabled value="cards" style="line-height: 36px;"> 
                    <mat-icon>grid_view</mat-icon>
                    </mat-button-toggle>
            </mat-button-toggle-group>
            <button mat-button *ngIf="!isInviteTab" style="width: 180px !important; height: 40px !important;" class="btnpri btnauto" (click)="addCompany()">
                <mat-icon>add_circle</mat-icon><span class="mgnleft10 font_14">ADD COMPANY</span>
            </button>
            <button mat-button *ngIf="isInviteTab" style="width: 180px !important; height: 40px !important;" class="btnpri btnauto" (click)="inviteNewCompany()">
                <mat-icon>add_circle</mat-icon><span class="mgnleft10 font_14">INVITE COMPANY</span>
            </button>
        </div>
        <mat-tab-group animationDuration="700ms" (selectedTabChange)="tabChanged($event)" style="padding-top:24px" [(selectedIndex)]="selectedTabIndex">
            <mat-tab label="My Companies">
                <div *ngIf="companyColl?.data?.length != 0 && summaryToggle == 'table'" [style.height.px]="ht" fxLayout="column" fxLayoutAlign="start center" style="overflow: auto">
                    <table mat-table #table [dataSource]="companyColl" matSort style="border:1px lightgray solid; border-radius: 10px; margin-top:18px; width:100%" >
                        <ng-container matColumnDef="company_name">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>NAME</th>
                            <td mat-cell class="font_12 tbl-row-pad capitalize"*matCellDef="let element">{{element.company_name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="company_local_name">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>LOCAL NAME</th>
                            <td mat-cell class="font_12 tbl-row-pad capitalize"*matCellDef="let element">{{element.company_local_name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="office_type">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>TYPE</th>
                            <td mat-cell class="font_12 tbl-row-pad capitalize"*matCellDef="let element">{{element.office_type}}</td>
                        </ng-container>
                        <ng-container matColumnDef="parent_company">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>PARENT COMPANY</th>
                            <td mat-cell class="font_12 tbl-row-pad capitalize"*matCellDef="let element">{{element.parent_company}}</td>
                        </ng-container>
                        <ng-container matColumnDef="license_status">
                            <th  class="tbl-head" mat-header-cell *matHeaderCellDef>LICENSE STATUS</th>
                            <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index"> 
                                <div *ngIf="element.license_cnt==undefined && !element.cci_is_accepted && !element.is_deleted" id="lic" style="color:rgb(77, 120, 201)" class="pointer" matTooltip="Manage Licence" (click)="manageLicense(element)">To Apply</div>
                                <div *ngIf="element.license_cnt==-1 && !element.cci_is_accepted && !element.is_deleted" fxLayout="row" class="pointer" matTooltip="Licence Pending" (click)="getLicense(element)">
                                    <div id="lic">Pending</div>
                                    <mat-icon class="mgnleft5 md-14 clrinprogress">pending</mat-icon>
                                </div>
                                <div *ngIf="element.license_cnt==1 && !element.cci_is_accepted && !element.is_deleted" id="lic" fxLayout="row" fxLayoutAlign="start center" class="pointer" matTooltip="Licence Approved" (click)="getLicense(element)">
                                    <div id="lic">Licensed</div>
                                    <mat-icon class="mgnleft5 md-14 clrgreen">check_circle</mat-icon>
                                </div>
                                <div *ngIf="element.is_deleted" id="lic" fxLayout="row" fxLayoutAlign="start center" class="pointer clrbrown" matTooltip="Retrieve Company to Manage Licence">Licensed Not Allowed</div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="help">
                            <th  class="tbl-head" mat-header-cell *matHeaderCellDef></th>
                            <td  mat-cell style="padding-left:5px;padding-right:5px;" *matCellDef="let element; let i=index"> 
                                <mat-icon *ngIf="element.license_cnt==undefined && !element.is_deleted && !element.cci_is_accepted" style="color:darkgoldenrod" [matMenuTriggerFor]="menu" matTooltip="What next ?">help_outline
                                        <mat-menu #menu="matMenu">
                                            <div style="padding:15px;">
                                                <div class="font_14" style="font-weight: bold;">Choice 1</div>
                                                <div class="font_14 pointer" (click)="manageLicense(element)"><mat-icon color="primary" style="vertical-align: bottom;">how_to_reg</mat-icon> Apply For License.</div>
                                                <div class="font_14 mgntop20" style="font-weight: bold;">Choice 2</div>
                                                <div class="font_14"><mat-icon color="primary" style="vertical-align: bottom;">maps_home_work</mat-icon> Get yourself invited by company having license</div>
                                                <div *ngIf="element.contact_count == 0">
                                                    <div class="font_14 mgntop20" style="font-weight: bold;">Choice 3</div>
                                                    <div class="font_14"><mat-icon color="primary" style="vertical-align: bottom;">groups</mat-icon> You invite your employees and allow access to them</div>
                                                </div>    
                                                <div *ngIf="element.contact_count != 0">
                                                    <div class="font_14 mgntop20" style="font-weight: bold;">Choice 3</div>
                                                    <div class="font_14"><mat-icon color="primary" style="vertical-align: bottom;">groups</mat-icon> You already have the contact invited, you can invite more contacts or you can still apply your own license and get full feature of the product</div>
                                                </div>
                                            </div>
                                        </mat-menu>
                                </mat-icon>
                                <mat-icon *ngIf="element.license_cnt==-1 && !element.is_deleted && !element.cci_is_accepted" style="color:darkgoldenrod" [matMenuTriggerFor]="menu" matTooltip="What next ?">help_outline
                                    <mat-menu #menu="matMenu">
                                        <div style="padding:15px;">
                                            <div class="font_14" style="font-weight: bold;">Choice 1</div>
                                            <div style="max-width:200px;" class="font_14"><mat-icon color="primary" style="vertical-align: bottom;">manage_accounts</mat-icon>Contact Waka admin to approve your license</div>
                                            <div *ngIf="element.contact_count == 0">
                                                <div class="font_14 mgntop20" style="font-weight: bold;">Choice 2</div>
                                                <div class="font_14"><mat-icon color="primary" style="vertical-align: bottom;">groups</mat-icon> You invite your employees and allow access to them</div>
                                            </div>    
                                            <div *ngIf="element.contact_count != 0">
                                                <div class="font_14 mgntop20" style="font-weight: bold;">Choice 2</div>
                                                <div class="font_14"><mat-icon color="primary" style="vertical-align: bottom;">groups</mat-icon> You already have the contact invited, you can invite more contacts or you can still apply your own license and get full feature of the product</div>
                                            </div>
                                        </div>
                                    </mat-menu>
                                </mat-icon>
                                <mat-icon *ngIf="element.license_cnt==1 && !element.is_deleted && !element.cci_is_accepted" style="color:darkgoldenrod" [matMenuTriggerFor]="menu" matTooltip="What next ?">help_outline
                                    <mat-menu #menu="matMenu">
                                        <div style="padding:15px;">
                                            <div class="font_14" style="font-weight: bold;">Choice 1</div>
                                            <div style="max-width:200px;" class="font_14"><mat-icon color="primary" style="vertical-align: bottom;">maps_home_work</mat-icon>  Now you can invite other companies who provide services for you. <br/> Ex. Invite freight forwarder/Logistics provider or invite supplier etc.</div>
                                            <!--div class="font_14 mgntop20" style="font-weight: bold;">Choice 2</div>
                                            <div style="max-width:200px;" class="font_14"><mat-icon color="primary" style="vertical-align: bottom;">maps_home_work</mat-icon>  You can also invite employees who need to use this product.</div-->
                                            <div *ngIf="element.contact_count == 0">
                                                <div class="font_14 mgntop20" style="font-weight: bold;">Choice 2</div>
                                                <div class="font_14"><mat-icon color="primary" style="vertical-align: bottom;">groups</mat-icon> You invite your employees and allow access to them</div>
                                            </div>    
                                            <div *ngIf="element.contact_count != 0">
                                                <div class="font_14 mgntop20" style="font-weight: bold;">Choice 2</div>
                                                <div class="font_14"><mat-icon color="primary" style="vertical-align: bottom;">groups</mat-icon> You already have the contact invited, you can invite more contacts or you can still apply your own license and get full feature of the product</div>
                                            </div>
                                        </div>
                                    </mat-menu>
                                </mat-icon>
                                <mat-icon *ngIf="element.is_deleted && !element.cci_is_accepted" style="color:darkgoldenrod" [matMenuTriggerFor]="menu" matTooltip="What next ?">help_outline
                                    <mat-menu #menu="matMenu">
                                        <div style="padding:15px;">
                                            <div style="max-width:200px;" class="font_14" style="font-weight:600"> Retrieve your company first before proceeding to next step</div>
                                        </div>
                                    </mat-menu>
                                </mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="invt_company">
                            <th  class="tbl-head" mat-header-cell *matHeaderCellDef></th>
                            <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index" [disabled]="element.is_deleted"> 
                                <mat-icon *ngIf="element.license_cnt==1 && !element.cci_is_accepted  && !element.is_deleted" id="invite" class="pointer clrblue" matTooltip="Invite Company" (click)="inviteCompany(element)">badge</mat-icon>
                                <mat-icon *ngIf="element.license_cnt==-1" id="invite" style="cursor: default;" class="clrbrown" matTooltip="Invite Company - Valid Licence Required">badge</mat-icon>
                                <mat-icon *ngIf="element.license_cnt==undefined" id="invite" class="clrbrown" style="cursor: default; opacity:0.7" matTooltip="Invite Company - Not Applicable">badge</mat-icon>
                                <mat-icon *ngIf="element.license_cnt==1 && !element.cci_is_accepted  && element.is_deleted" id="invite" style="cursor: default; opacity:0.6" class="clrblue"  matTooltip="Invite Company Not Allowed">badge</mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="invt_contact">
                            <th  class="tbl-head" mat-header-cell *matHeaderCellDef></th>
                            <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index"> 
                                <mat-icon *ngIf="!element.is_deleted && !element.cci_is_accepted" id="contact"class="pointer clrblue" matTooltip="Invite Contact" (click)="addCompanyContact(element)">contact_page</mat-icon>
                                <!--mat-icon *ngIf="element.license_cnt==undefined && (element.cci_is_accepted || element.ci_is_accepted)" id="contact" class="pointer clrblue" matTooltip="Invite Contact" (click)="addCompanyContact(element)">contact_page</mat-icon>
                                <mat-icon *ngIf="element.license_cnt==-1" id="contact" style="cursor: default;" class="clrbrown"  matTooltip="Invite Contact - Valid Licence Required">contact_page</mat-icon-->
                                <mat-icon *ngIf="element.is_deleted && !element.cci_is_accepted" id="contact" style="cursor: default; opacity:0.6" class="clrblue"  matTooltip="Invite Contact Not Allowed">contact_page</mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="edit">
                            <th  class="tbl-head" mat-header-cell *matHeaderCellDef></th>
                            <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index"> 
                                <mat-icon *ngIf="!element.is_deleted && !element.cci_is_accepted" id="edit{{i}}" color="primary" class="pointer" matTooltip="Edit Company" (click)="editCompany(element)">edit</mat-icon>
                                <mat-icon *ngIf="element.is_deleted && !element.cci_is_accepted" id="edit{{i}}" color="primary" style="opacity: 0.6;" matTooltip="Edit Not Allowed">edit</mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="delete">
                            <th  class="tbl-head" mat-header-cell *matHeaderCellDef></th>   
                            <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index" (click)="deleteCompany(element)">
                                <mat-icon *ngIf="!element.is_deleted && !element.cci_is_accepted" id="delete{{i}}" color="warn" class="pointer" matTooltip="Delete Company">delete</mat-icon>
                                <mat-icon *ngIf="element.is_deleted && !element.cci_is_accepted" id="delete{{i}}" style="color: rgb(61, 160, 66);" class="pointer" matTooltip="Retrieve Company">unarchive</mat-icon>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="dispcompany; sticky: true;" class="tblrowht"></tr>
                        <tr mat-row class="tr-rowalt-light" *matRowDef="let row; columns: dispcompany;"></tr>
                    </table>
                </div>
                <div *ngIf="companyColl?.data?.length==0  && !isLoading" fxLayoutAlign="center center">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <img src="../../assets/image/svg/signing-a-contract-rafiki.svg" style="width:325px; height:243px;" class="pointer">
                        <span class="txt" style="margin-top: 24px; max-width: 325px;">Add a company and Apply for license</span> 
                        <span class="txt" style="margin-top: 12px; max-width: 325px;">You need to be invited for using this product.</span> 
                        <button mat-button class="btnpri inboxminwidth font_14" style="margin-top:32px;" (click)="addCompany()">
                            ADD COMPANY
                        </button>
                    </div>
                </div> 
            </mat-tab>
            <mat-tab label="Associated Companies" disabled>
                <div *ngIf="companyInviteColl?.data?.length != 0" fxLayout="column" fxLayoutAlign="start center" [style.height.px]="ht-90" style="overflow: auto">
                    <table mat-table #TableSort="matSort" [dataSource]="companyInviteColl" matSort style="border:1px lightgray solid; border-radius: 10px; margin-top:18px; width:100%" >
                        <ng-container matColumnDef="invitee_company_name">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>COMPANY NAME</th>
                            <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.invitee_company_name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="invitee_contact_name">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>CONTACT PERSON</th>
                            <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.invitee_contact_name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="invitee_email">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>CONTACT EMAIL</th>
                            <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.invitee_email}}</td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>STATUS</th>
                            <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">
                                <div *ngIf="!element.is_accepted && !element.is_denied && !element.is_revoked">Pending</div>
                                <div *ngIf="element.is_accepted && !element.is_denied && !element.is_revoked">Accepted</div>
                                <div *ngIf="element.is_denied && !element.is_revoked">Denied</div>
                                <div *ngIf="element.is_revoked">Revoked</div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="created_on">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>INVITED ON</th>
                            <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.created_on | date:'dd-MMM-yyyy' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="status_date">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>STATUS DATE</th>
                            <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">
                                <div *ngIf="element.is_accepted && !element.is_denied && !element.is_revoked">{{element.accepted_on | date:'dd-MMM-yyyy'}}</div>
                                <div *ngIf="element.is_denied && !element.is_revoked">{{element.denied_on | date:'dd-MMM-yyyy'}}</div>
                                <div *ngIf="element.is_revoked">{{element.revoked_on | date:'dd-MMM-yyyy'}}</div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="module_shared">
                            <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>MODULES</th>
                            <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">
                                <button mat-button [matMenuTriggerFor]="menu" (click)="getModules(element)">
                                    {{element.module_shared}}  
                                </button>
                                <div  fxFlex="40" fxFlex.md="50" fxLayout="row">
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item *ngFor="let ele of selectedModules">{{ele.module_name}}
                                            <mat-divider></mat-divider>
                                        </button>
                                    </mat-menu>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th  class="tbl-head" mat-header-cell *matHeaderCellDef></th>   
                            <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index">
                                <mat-icon *ngIf="!element.is_accepted && !element.is_denied && !element.is_revoked && !element.is_deleted" id="action{{i}}" style="color: rgb(223, 201, 10)"  class="pointer" matTooltip="Revoke Company" (click)="inviteCompanyApproveRevoke(element)">thumbs_up_down</mat-icon>
                                <mat-icon *ngIf="element.is_revoked && !element.is_deleted" id="action{{i}}" color="warn" class="pointer" matTooltip="Approve Company" (click)="inviteCompanyApproveRevoke(element)">thumb_down</mat-icon>
                                <mat-icon *ngIf="element.is_accepted  && !element.is_deleted" id="action{{i}}" style="color: rgb(61, 160, 66);" class="pointer" matTooltip="Revoke Company" (click)="inviteCompanyApproveRevoke(element)">thumb_up</mat-icon>
                                <mat-icon *ngIf="element.is_denied" id="action{{i}}" style="color: rgb(102, 102, 102);" matTooltip="Company Denied">thumbs_up_down</mat-icon>
                                <mat-icon *ngIf="element.is_revoked && element.is_deleted" id="action{{i}}" style="color: rgb(102, 102, 102);" matTooltip="Revoke Not Allowed">thumb_down</mat-icon>
                                <mat-icon *ngIf="element.is_accepted && element.is_deleted" id="action{{i}}" style="color: rgb(102, 102, 102);" matTooltip="Approve Not Allowed">thumb_up</mat-icon>
                                <mat-icon *ngIf="!element.is_accepted && !element.is_denied && !element.is_revoked && element.is_deleted" id="action{{i}}" style="color: rgb(102, 102, 102);" matTooltip="Revoke Not Allowed">thumbs_up_down</mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="edit">
                            <th  class="tbl-head" mat-header-cell *matHeaderCellDef></th>
                            <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index"> 
                                <mat-icon *ngIf="!element.is_deleted " id="edit{{i}}" color="primary" class="pointer" matTooltip="Edit Company" (click)="inviteEditCompany(element)">edit</mat-icon>
                                <mat-icon *ngIf="element.is_deleted" id="edit{{i}}" color="primary" style="opacity: 0.6;" matTooltip="Edit Not Alowed">edit</mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="delete">
                            <th  class="tbl-head" mat-header-cell *matHeaderCellDef></th>   
                            <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index">
                                <mat-icon *ngIf="!element.is_deleted && !element.is_denied" id="delete{{i}}" color="warn" class="pointer" matTooltip="Delete Company" (click)="delInviteCompany(element)">delete</mat-icon>
                                <mat-icon *ngIf="element.is_deleted && !element.is_denied" id="delete{{i}}" style="color: rgb(61, 160, 66);" class="pointer" matTooltip="Retrieve Company" (click)="delInviteCompany(element)">unarchive</mat-icon>
                                <mat-icon *ngIf="element.is_denied" id="delete{{i}}" style="color: rgb(102, 102, 102);" class="pointer" matTooltip="Delete Not Allowed">delete</mat-icon> 
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="dispinvitecompany; sticky: true;" class="tblrowht"></tr>
                        <tr mat-row class="tr-rowalt-light" *matRowDef="let row; columns: dispinvitecompany;"></tr>
                    </table>
                </div>
                <div *ngIf="companyInviteColl?.data?.length == 0 && !isLoading" fxLayoutAlign="center center" style="margin-top: 16px;">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <img src="../../assets/image/svg/signing-a-contract-rafiki.svg" class="Signing-a-contract-rafiki">
                        <button mat-button style="width: 290px !important; height: 50px !important; margin: 87.5px 49px 25px 128px; object-fit: contain; box-shadow: 0 4px 14px 0 rgba(69, 148, 211, 0.4); background-color: #1c75bc;" class="btnpri mgntop10" (click)="inviteNewCompany()">
                            <span class="mgnleft10 font_14">INVITE COMPANY</span>
                        </button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
</div>