<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <mat-label color="primary" class="mgnleft10" style="font-weight: 600; color: #8294a3;">Request License</mat-label>
    <div class="pointer" matTooltip="Close"><mat-icon class="font_24" (click)="close()" >close</mat-icon></div>
</div>
<mat-dialog-content style="overflow: hidden;">
    <!-- <div *ngIf="!isLicenceActive && modulesList.length !== 0" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="16px">
        <label class="mgnleft10 fntwt600 fntclr465e72">Accessible Modules</label>
        <div class="mgnleft10" fxLayout="column" fxFlex="48" fxFlex.xs="100" *ngIf="!isLicenceActive">
        <div *ngFor = "let ele of modulesList">
            <div *ngIf="!ele.is_selected" style="margin:8px 0px;">
                <div fxLayout="row" fxLayoutAlign="start">
                <mat-checkbox labelPosition="before" [(ngModel)]="ele.is_selected" class="capitalize" color="primary" (change)="onChange(ele)"  [checked]="ele.is_selected">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-icon class="fntclr1c75bc">{{ele.icon}}</mat-icon>
                        <span style="width:270px;" class="fntclr465e72 mgnleft10">{{ele.module_name}}</span> 
                    </div>
                </mat-checkbox>
            </div>
            </div>
        </div>
    </div>
    </div> -->
    <div *ngIf="!isLicenceActive && selectedModules.length !==0" style="margin-top: 24px;" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="16px">
        <label class="mgnleft10 fntwt600 fntclr465e72">Accessible Modules</label>
        <div class="mgnleft10" fxLayout="column" fxFlex="48" fxFlex.xs="100" *ngIf="!isLicenceActive">
        <div *ngFor = "let ele of selectedModules,let i = index">
            <div style="margin:8px 0px;">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-checkbox labelPosition="before" class="capitalize" style="color: var(--primary);" (change)="onChange(ele,i)"  [checked]="ele.is_selected">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-icon class="fntclr1c75bc">{{ele.icon}}</mat-icon>
                        <span style="width:270px;"  class="fntclr465e72 mgnleft10">{{ele.module_name}}</span> 
                    </div>
                </mat-checkbox>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div *ngIf="isLicenceActive" fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="16px">
        <label class="mgnleft10 fntwt600 fntclr465e72">Licensed Modules</label>
        <div class="mgnleft10" fxLayout="column" fxLayoutGap="23px" fxFlex="48" fxFlex.xs="100" *ngIf="isLicenceActive">
        <div *ngFor = "let ele of moduleValNames; let i= index">     
            <div fxLayout="row" fxLayoutAlign="start">
                <mat-icon class="fntclr1c75bc">{{moduleIcons[i]}}</mat-icon>
                <span class="fntclr465e72 mgnleft10">{{ele}}</span>
            </div>  
        </div>
    </div>
    </div>
</mat-dialog-content>
<footer  mat-dialog-actions fxlayout="row" fxLayoutAlign="center center">
    <mat-toolbar *ngIf="!isLicenceActive" style="background-color: var(--white); height: 72px;" fxlayout="row" fxLayoutAlign="end center">
      <div  matTooltip="Submit Request" fxLayoutAlign="center center">
        <button id="btnsave" [disabled]="confirmModulesList.length == 0" mat-raised-button class="btnclrprimary" (click)="saveLicense()">{{btnTitle}}</button>
    </div>
    </mat-toolbar>
</footer>

