<app-login-header></app-login-header>
<!-- Loader section -->
<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal" style="display:block; ">
	<mat-progress-spinner color='primary' mode="indeterminate" value="50"></mat-progress-spinner>
</div>
<div style="margin:60px 16px 16px 16px">
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="btnpri btnauto mgntop10" (click)="inviteCompany()"><mat-icon>add_circle</mat-icon><span class="mgnleft10 font_14">INVITE COMPANY</span></button>
    </div>
    <div *ngIf="companyInviteColl?.data?.length !=0" fxLayout="column" fxLayoutAlign="space-between center" [style.max-height.px]="screenParam?.height-80" style="overflow: auto">
        <mat-form-field style="width:97%">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyCompanyFilter($event)" placeholder="Ex. company name, local name, city, country" #input>
        </mat-form-field>
        <table mat-table #TableSort="matSort" [dataSource]="companyInviteColl" matSort style="border:1px lightgray solid; border-radius: 10px; margin-top:18px; width:97%" [hidden]="companyInviteColl?.data?.length==0">
            <ng-container matColumnDef="invitee_company_name">
                <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>COMPANY NAME</th>
                <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.invitee_company_name}}</td>
            </ng-container>
            <ng-container matColumnDef="invitee_contact_name">
                <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>CONTACT PERSON</th>
                <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.invitee_contact_name}}</td>
            </ng-container>
            <ng-container matColumnDef="invitee_email">
                <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>CONTACT EMAIL</th>
                <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.invitee_email}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>STATUS</th>
                <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">
                    <div *ngIf="!element.is_accepted && !element.is_denied && !is_revoked">Pending</div>
                    <div *ngIf="element.is_accepted && !element.is_denied && !is_revoked">Accepted</div>
                    <div *ngIf="element.is_denied && !element.is_revoked">Denied</div>
                    <div *ngIf="element.is_revoked">Revoked</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="created_on">
                <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>INVITED ON</th>
                <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">{{element.created_on | date:'dd-MMM-yyyy' }}</td>
            </ng-container>
            <ng-container matColumnDef="status_date">
                <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>STATUS DATE</th>
                <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">
                    <div *ngIf="is_accepted && !is_denied && !is_revoked">{{element.accepted_on | date:'dd-MMM-yyyy'}}</div>
                    {{ element.accepted_on | date:'dd-MMM-yyyy'}}
                    <div *ngIf="is_denied && !is_revoked">{{element.denied_on | date:'dd-MMM-yyyy'}}</div>
                    <div *ngIf="is_revoked">{{element.revoked_on | date:'dd-MMM-yyyy'}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="module_shared">
                <th mat-header-cell class="tbl-head" *matHeaderCellDef mat-sort-header>MODEULES</th>
                <td mat-cell class="font_12 tbl-row-pad"*matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="menu" (click)="getModules(element)">
                        {{element.module_shared}}  
                    </button>
                    <div  fxFlex="40" fxFlex.md="50" fxLayout="row">
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngFor="let ele of selectedModules">{{ele.module_name}}<mat-divider></mat-divider>
                            </button>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th  class="tbl-head" mat-header-cell *matHeaderCellDef></th>
                <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index"> 
                    <mat-icon id="edit{{i}}" color="primary" class="pointer" matTooltip="Edit Company" (click)="inviteEditCompany(element)">edit</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th  class="tbl-head" mat-header-cell *matHeaderCellDef></th>   
                <td  mat-cell style="padding-left:5px;padding-right: 5px;" *matCellDef="let element; let i=index">
                    <mat-icon *ngIf="!element.cdeleted" id="delete{{i}}" color="warn" class="pointer" matTooltip="Delete Company" (click)="delInviteCompany(element)">delete</mat-icon>
                    <mat-icon *ngIf="element.cdeleted" id="delete{{i}}" style="color: rgb(61, 160, 66);" class="pointer" matTooltip="Undelete Company" (click)="delInviteCompany(element)">unarchive</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="dispcompany; sticky: true;" class="tblrowht"></tr>
            <tr mat-row class="tr-rowalt-light" *matRowDef="let row; columns: dispcompany;"></tr>
        </table>
    </div>
    <!-- <div *ngIf="companyInviteColl?.data?.length==0" [style.height.px]="screenParam?.height-90" fxLayoutAlign="center center" style="border:1px var(--lightgray) solid; border-radius: 10px; margin-top: 16px;">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="md-96" style="opacity:0.2">badge</mat-icon>
            <div class="font_12">Click on INVITE COMPANY to invite a new Company</div>
        </div>
    </div> -->
</div>
