<div>
    <form [formGroup]="form" [style.height.px]="height" fxLayout="row" [fxLayoutAlign]="formLayoutAlign">
        <mat-card fxFlex="30" fxFlex.md="40" fxFlex.sm="60" fxFlex.xs="90"> 
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" >
                <img src="../../assets/image/final-waka-tech-01.png" style="width:250px; height:auto"/>
            </div>
            <mat-card-header fxLayout="row" fxLayoutAlign="center center" class="mgntop10">
                <mat-card-title>Forgot Password</mat-card-title>
            </mat-card-header>
            <mat-card-content style="margin-top:10px;width:100%">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <div *ngIf="!isVerified" class="inputbox inboxminwidth" [ngClass]="{'errtxtbdr':form.get('Email').invalid&&form.get('Email').dirty}">
                        <div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
                            <mat-icon class="icon">person</mat-icon>
                            <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                                <div *ngIf="form.get('Email').value!=undefined && form.get('Email').value!=''" class="label" [ngClass]="{'labelerr':form.get('Email').invalid&&form.get('Email').dirty}">Email</div>
                                <input class="text" placeholder="Email" formControlName="Email" name="Email" id="Email" required>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!isVerified" style="width:100%">
                        <mat-error *ngIf="form.get('Email').invalid&&form.get('Email').dirty" class="txterror padleft32" >{{getErrorMessage(form.get('Email'),'Email')}}</mat-error>
                    </div>
                    <button *ngIf="!isVerified" class="btnpri btnauto" [disabled]="gpDisabled" (click)="gpDisabled=true; getVerifyCode()">Generate PIN</button>
                    <div *ngIf="gpDisabled && !isVerified">Regenerate PIN after {{timer}} sec.</div>
                    <div *ngIf="!checkEmail" class="clrred">Email does not exist</div>
                    <div *ngIf="isOTPSent && !isVerified" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
                        <div  class="inputbox inboxminwidth" [ngClass]="{'errtxtbdr':form.get('Code').invalid&&form.get('Code').dirty}">
                            <div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
                                <mat-icon class="icon">password</mat-icon>
                                <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                                    <div *ngIf="form.get('Code').value!=undefined && form.get('Code').value!=''" class="label" [ngClass]="{'labelerr':form.get('Code').invalid&&form.get('Code').dirty}">PIN</div>
                                    <input class="text" placeholder="PIN" formControlName="Code" name="Code" id="Code" required>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%">
                            <mat-error *ngIf="form.get('Code').invalid&&form.get('Code').dirty" class="txterror padleft32" >{{getErrorMessage(form.get('Code'),'Code')}}</mat-error>
                        </div>
                    </div>
                    <div *ngIf="isVerified">
                        <div class="inputbox inboxminwidth" [ngClass]="{'errtxtbdr':form.get('Password').invalid&&form.get('Password').dirty}">
                            <div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
                                <mat-icon class="icon">lock</mat-icon>
                                <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                                    <div *ngIf="form.get('Password').value!=undefined && form.get('Password').value!=''" class="label">Password</div>
                                    <input type="password" class="text" placeholder="Password" formControlName="Password" name="Password" id="Password" required>
                                </div>
                            </div>
                        </div>
                        <div class="inputbox inboxminwidth">
                            <div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
                                <mat-icon class="icon">lock</mat-icon>
                                <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                                    <div *ngIf="form.get('Confirm').value!=undefined && form.get('Confirm').value!=''" class="label">Confirm Password</div>
                                    <input type="password" class="text" placeholder="Confirm Password" formControlName="Confirm" name="Confirm" id="Confirm" required>
                                </div>
                            </div>
                        </div>
                        <div class="txterror" [fxShow] = "isVerified">{{getErrorMessage(form,'form')}}</div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions >
                <div fxLayout="column" fxLayoutAlign="center center">
                    <button *ngIf="isOTPSent && !isVerified" id="btnReqPass" class="btnpri btnauto" (click)="verifyCode()">Verify PIN</button>
                    <button [fxShow]="isVerified" [disabled]="form.invalid" id="btnReqPass" class="btnpri btnauto" (click)="changeForgottenPassword()">Change Password</button>
                    <div class="mgntop10">Already have an account?<span class="link pointer" [routerLink]="['/login']"> Sign in</span></div>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
