<app-splash-header></app-splash-header>
<div flex fxLayout="column" fxLayoutGap="10px">
	<div style="padding:0px 50px !important" >
		<form [formGroup]="form" fxLayout="row" [fxLayoutAlign]="layoutAlign" [style.height.px]="height - 77">
			<mat-card *ngIf="firstStep && !isVerified" style="box-shadow: 0 6px 20px 18px rgba(28, 117, 188, 0.06); border-radius: 10px; width: 280px; height: auto;"> 
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
					<img src="../../assets/image/smallLogo.png" style="width: 40x; height: 40px;"/>
					<span class="moduleHeader" style="font-size: 16px; margin-left: -19px;">Forgot&nbsp;Password</span>
				</div>
				<mat-card-content style="width:100%">
					<div fxLayout="column" fxLayoutAlign="center center">
						<div class="inputbox inboxminwidth" [ngClass]="{'errtxtbdr':form.get('Email').invalid && form.get('Email').dirty , 'validtext' : form.get('Email').valid}">
							<div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
								<mat-icon [ngClass]="form.get('Email').valid ? 'iconprimary' : 'iconinactive'">mail</mat-icon>
								<div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
									<input class="text" placeholder="Enter Email ID" formControlName="Email" name="email" id="email" required (keyup)="checkEmailLinkVerified()">
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="form.get('Email').invalid" class="erroverlay" [ngStyle]="{'display': isOpen ? 'block': 'none'}" style="bottom:10px;margin-left:-192px">
						<div class="box arrow-right" fxLayout="column" fxLayoutAlign="center center">
							<div style="padding: 10px 13px; border-radius: 100%; border: #fff 2px solid;">
								<mat-icon class="iconactive">warning</mat-icon>
							</div>
							<span style="font-size: 12px; font-weight: 600; color: #fff;padding-top:20px">Whoops!</span>
							<span *ngIf="form.get('Email').invalid" style="font-size: 12px; text-align: center; color: #fff; letter-spacing: 0.15px;">{{getErrorMessage(form.get('Email'),'Email')}}</span>
						</div>
					</div>
					<div style="margin-top:16px; padding:6px 3px">
						<button class="btnpri btnprifull" type="button" id="btnlogin"  id="btnRegister" [disabled]="gpDisabled || form.get('Email').invalid" (click)="gpDisabled=true; getVerifyCode()"><span style="color:white">Generate PIN</span></button>
					</div>
					<mat-divider style="color: #dfe3e7;"></mat-divider>
					<div style="padding:16px 12px; padding-bottom: 0px;" fxLayoutAlign="center center" >
						<div><span style="color: #a1b4c4; font-size: 14px; font-weight: 600;">Existing User? </span><span class="pointer clrprimary" style="font-size: 14px; font-weight: bold;" [routerLink]="['/login']">Login</span></div>
					</div>
				</mat-card-content>
			</mat-card>
		    <mat-card *ngIf="!firstStep && !isVerified" style="box-shadow: 0 6px 20px 18px rgba(28, 117, 188, 0.06); border-radius: 10px; width: 280px; height: auto;">
			    <mat-card-content>
					<div fxLayout="column" fxLayoutAlign="center start">
						<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
							<img src="../../assets/image/smallLogo.png" style="width: 40x; height: 40px;"/>
							<span style="color: var(--textcolor); font-weight: bold; font-size: 16px;">
								You’re almost there!
							</span>
						</div>
                        <div class="inputbox inboxminwidth" [ngClass]="{'errtxtbdr':form.get('Code').invalid && form.get('Code').dirty , 'validtext' : form.get('Code').valid}">
							<div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
								<mat-icon [ngClass]="form.get('Code').valid ? 'iconprimary' : 'iconinactive'">lock</mat-icon>
								<div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                                    <input class="text" placeholder=" Enter PIN" formControlName="Code" name="Code" id="Code" required>
								</div>
							</div>
						</div>
						<div class="erroverlay" [ngStyle]="{'display': isError ? 'block': 'none'}" style="bottom:10px;margin-left:-192px">
							<div class="box arrow-right" fxLayout="column" fxLayoutAlign="center center">
								<div style="padding: 10px 13px; border-radius: 100%; border: #fff 2px solid;">
									<mat-icon class="iconactive">warning</mat-icon>
								</div>
								<span style="font-size: 12px; font-weight: 600; color: #fff;padding-top:20px">Whoops!</span>
								<span style="font-size: 12px; text-align: center; color: #fff; letter-spacing: 0.15px;">It looks like PIN match failed, Please Check!</span>
							</div>
						</div>
						<button class="btnpri btnprifull" type="button" style="margin-top: 12px; margin-bottom: 5px; width: 98%;" id="btnVerifyPin" (click)="verifyCode()"><span style="color:white">Verify PIN</span></button>
					</div>
			    </mat-card-content>
			</mat-card>
			<mat-card *ngIf="isVerified" style="box-shadow: 0 6px 20px 18px rgba(28, 117, 188, 0.06); border-radius: 10px; width: 280px; height: auto;">
			    <mat-card-content>
					<div fxLayout="column" fxLayoutAlign="center center">
						<div style="border-radius: 100%; border: var(--primary) 2px solid; padding: 20px; padding: 13px 15px 17px; height: 32px; width: 32px; margin-bottom: 24px;">
							<mat-icon [inline]="false" style="font-size: 33px; color: var(--primary);">lock</mat-icon>
						</div>
						<span style="font-size: 16px; color: var(--textcolor); font-weight: bold; margin-bottom: 16px;">Change the Password</span>
                        <div class="inputbox inboxminwidth" [ngClass]="{'errtxtbdr':form.get('Password').invalid && form.get('Password').dirty , 'validtext' : form.get('Password').valid}">
							<div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
								<mat-icon [ngClass]="form.get('Password').valid ? 'iconprimary' : 'iconinactive'">lock</mat-icon>
								<div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
									<input class="text" type="password" placeholder="Enter Password" formControlName="Password" name="Password" id="Password" autocomplete="new-password" (focus)="passwordTouched = true; passwordStrength();" (focusout)="passwordTouched = false"  (keyup)="passwordStrength()" required>
								</div>
							</div>
                        </div>
                        <div class="inputbox inboxminwidth" [ngClass]="{'errtxtbdr':form.get('Confirm').invalid && form.get('Confirm').dirty , 'validtext' : form.get('Confirm').valid}">
                            <div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
								<mat-icon [ngClass]="form.get('Confirm').valid ? 'iconprimary' : 'iconinactive'">lock</mat-icon>
								<div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                                    <input type="password" class="text" placeholder="Confirm Password" formControlName="Confirm" name="Confirm" id="Confirm" autocomplete="new-password" required>
								</div>
							</div>
                        </div>
                        <button class="btnpri btnprifull" type="submit" style="margin-top: 12px; margin-bottom: 5px;" [disabled]="form.invalid" id="btnChgPassword" (click)="changeForgottenPassword()"><span style="color:white">Change Password</span></button>
					</div>
					<div class="erroverlay" [ngStyle]="{'display': passwordTouched ? 'block': 'none'}" style="bottom:90px;margin-left:-222px">
						<div class="box arrow-right" style="width: 199px !important; height: 116px !important; padding: 10px !important;" fxLayout="column">
							<span style="font-size: 12px; color: #fff; letter-spacing: 0.15px; font-weight: 600; margin-bottom: 8px;"> {{ passwordStrengthLabel }} Password</span>
							<div class="password-meter__bar" style="background-color: chartreuse;">
								<div class="password-meter__bar__inner js--password-bar"></div>
						    </div>
							<span *ngIf="passwordStrengthLabel != 'Strong'" style="font-size: 12px; color: #fff; letter-spacing: 0.15px;">Make it at least 8 characters long, with numbers and special characters($,%,&,…)</span>
							<span *ngIf="passwordStrengthLabel == 'Strong'" style="font-size: 12px; color: #fff; letter-spacing: 0.15px;">Great! This will do! Just don't forget it.</span>
						</div>
					</div>
			    </mat-card-content>
			</mat-card>
		</form>
	</div>
</div>