<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="apdmodal"
	style="display:block; ">
	<mat-progress-spinner color='primary' mode="indeterminate" value="50">
	</mat-progress-spinner>
</div>
<div *ngIf="accessibleSections.length == 0 && !isLoading && permissionDenied">
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 200px;">
        <mat-card class="mattabgrp">
            <mat-card-content >
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <mat-icon class="clrblue">error_outline</mat-icon>
                    <div class="clrblue" style="font-size: 14px; font-weight: bold;">For your Role, Landing Cost access denied by the company admin</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row" class="font_12">
    <div *ngIf="accessibleSections.length > 0" class="mainsection" [style.height.px]="screen.height"  [style.width.px]="screen.width">
        <div *ngIf="lcTemplate=='template2' && !isLoading && accessibleSections.length > 0" style="width:100%">
            <div>
                <div class="mgnleft10 txt">{{lcGrpTitle}}</div>
                <div  fxLayout="column" fxLayoutAlign="start start" class="mgnleft10 mgnrgt10">
                    <div *ngFor="let grid of lcSOPColl; let grididx = index;" class="mgntop16" style="width:100%" >
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="grphead pointer" [ngClass]="{'cursor_not_allowed': !grid.is_enable}" [matTooltip]="grid.is_enable ? '' : 'Access Denied for your role'" style="height:60px;" (click)="grid.is_enable ? onClickgridExpand(grididx) : ''">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >
                                <img src='../../assets/image/svg/icon-small-po.svg' style="width:24px; height:24px;"/>
                                <div>{{grid.lc_name}}</div>
                            </div>
                            <!-- <div>
                                <mat-icon *ngIf="grid.is_selected" class="clrgreen md-36" (click)="grid.is_selected=false;updSOPCHIsSelected(grid)" matTooltip="click to Deactivate">toggle_on</mat-icon>
                                <mat-icon *ngIf="!grid.is_selected" class="clrred md-36" (click)="grid.is_selected=true;updSOPCHIsSelected(grid)" matTooltip="click to Activate">toggle_off</mat-icon>
                            </div> -->
                        </div>
                        <mat-card-content *ngIf="grid.has_child && grid.expand" fxLayout="column" style="padding:10px 0 10px 16px; overflow-y: auto; background-color: var(--bggroup);" class="fntwt600" >
                            <div *ngFor="let field of grid['fields']; let idx = index" class="mgntop10notfirst" style="border-bottom: var(--activebg); padding-bottom:14px">
                                <div *ngIf="field.group && grid.lc_name!=field?.group" class="txt grpsubhead" >{{field.group}}</div>
                                <div *ngIf="field?.label" class="subgrplabel">{{field?.label}}</div>
                                <div *ngIf="grid.view_text!=undefined" class="txt">{{grid.disp_text}}</div>
                                <div *ngFor="let grpField of field.fields" class="mgntop10notfirst">
                                    <div [ngSwitch]="field[grpField]?.type">
                                        <div *ngSwitchCase="'select'">
                                            <div *ngFor="let chField of field[grpField]?.field">
                                                <mat-select placeholder="{{chField.fieldname}}" [(ngModel)]="chField.value" name="chField.controlname" style="width:180px" class="capitalize select" required (selectionChange)="updCHFieldValue(idx,chField,grid)">
                                                    <mat-option *ngFor="let sel of chField.options" [value]="sel">{{sel}}</mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'chipset'">
                                            <div *ngFor="let chField of field[grpField]?.field">
                                                <div class="subgrplabel">{{chField?.selLabel}}</div>
                                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                                    <div *ngFor="let option of chField['value']; let i = index;" class="font_12 mgnbtm10 " style="width: fit-content;" >
                                                        <div fxLayout="row" fxLayoutAlign="start center" class="chipset-active mgnrgt10" (click) ="chField['value']?.splice(i,1);updCHFieldValue(idx, chField, grid)" >
                                                            <span class="font_12">{{option}}</span>
                                                            <mat-icon class="mgnleft5 md-18 pointer">clear</mat-icon>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="chField['options'].length != chField['value'].length" class="subgrplabel">{{chField?.unselLabel}}</div>
                                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                                    <div *ngFor="let option of chField['options']; let i = index;" class="font_12 mgnbtm10 ">
                                                        <div *ngIf="chField['value']?.indexOf(option) == -1" fxLayout="row" fxLayoutAlign="start center" class="chipset-inactive mgnrgt10" (click) ="chField['value'].push(option);updCHFieldValue(idx, chField, grid)">
                                                            <span class="font_12">{{option}}</span>
                                                            <mat-icon class="mgnleft5 md-18 pointer">add</mat-icon>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span *ngIf="chField?.status?.includes('Successful')" class="font_10 clrgreen mgnleft5">{{chField.status}}</span>
                                                <span *ngIf="chField?.status?.includes('Failed')" class="font_10 clrred mgnleft5">{{chField.status}}</span>
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'inlineedit'">
                                            <div *ngIf="field[grpField]?.subgroup" class="subgrplabel">{{field[grpField]?.subgroup}}</div>
                                            <div fxLayout="row wrap" fxLayoutAlign="start start" style="position:relative">
                                                <div *ngFor="let chField of field[grpField]?.field" > 
                                                    <div fxLayout="row" fxLayoutAlign="start center" class="inlineeditdiv">
                                                        <div class="text">{{chField?.pretext}}</div>
                                                        <input *ngIf="chField.controlname!='VASNoShow'" class="ip" style="width:50px" type="number" min="{{chField.range[0]}}" max="{{chField.range[1]}}" [(ngModel)]="chField.value" (keypress)="$event.key=='Enter' ? updCHFieldValue(idx,chField,grid):''" (blur)="updCHFieldValue(idx,chField,grid)">
                                                        <div class="text">{{chField?.posttext}}</div>
                                                        <div *ngIf="chField?.child?.length>0 && chField.child[0].type=='select'">
                                                            <mat-select placeholder="{{chField.child[0].field[0].fieldname}}" [(ngModel)]="chField.child[0].field[0].value" name="chField.child[0].field[0].controlname" class="capitalize select" required (selectionChange)="updCHFieldValue(idx,chField,grid)">
                                                                <mat-option *ngFor="let sel of chField.child[0].field[0].options" [value]="sel">{{sel}}</mat-option>
                                                            </mat-select>
                                                        </div>
                                                    </div>
                                                    <span *ngIf="chField?.status?.includes('Successful')" class="font_10 clrgreen mgnleft5" style="position:absolute; left:0">{{chField.status}}</span>
                                                    <span *ngIf="chField?.status?.includes('Failed')" class="font_10 clrred mgnleft5" style="position:absolute; left:0">{{chField.status}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'multi'" style="width:100%" fxLayout="row wrap" fxLayoutGap="16px" >
                                            <div *ngFor="let chField of field[grpField]?.field" style="border-bottom: 1px solid var(--bggroup1);">
                                                <mat-checkbox class="fntwt600" style="margin-bottom:16px" color="primary" [(ngModel)]="chField.value" name="{{chField.controlname}}" [(checked)]="chField.value" (change)="chField.value=$event.checked;updCHFieldValue(idx,chField,grid)">{{chField.fieldname}}</mat-checkbox>
                                                <div *ngIf="chField.child.length>0 && chField.value">
                                                    <div *ngFor="let chchChild of chField['child']">
                                                        <div [ngSwitch]="chchChild?.type">
                                                            <div *ngSwitchCase="'inlineedit'">
                                                                <div fxLayout="row wrap" fxLayoutAlign="start start" style="position:relative">
                                                                    <div *ngFor="let childField of chchChild?.field" > 
                                                                        <div fxLayout="row" fxLayoutAlign="start center" class="inlineeditdiv">
                                                                            <div class="text">{{childField?.pretext}}</div>
                                                                            <input *ngIf="childField.controlname!='VASNoShow'" class="ip" style="width:50px" type="number" min="{{childField.range[0]}}" max="{{childField.range[1]}}" [(ngModel)]="childField.value" (keypress)="$event.key=='Enter' ? updCHFieldValue(idx,childField,grid):''" (blur)="updCHFieldValue(idx,childField,grid)">
                                                                            <div class="text">{{childField?.posttext}}</div>
                                                                            <div *ngIf="childField?.child?.length>0 && childField.child[0].type=='select'">
                                                                                <mat-select placeholder="{{childField.child[0].field[0].fieldname}}" [(ngModel)]="childField.child[0].field[0].value" name="childField.child[0].field[0].controlname" class="capitalize select" required (selectionChange)="updCHFieldValue(idx,childField,grid)">
                                                                                    <mat-option *ngFor="let sel of childField.child[0].field[0].options" [value]="sel">{{sel}}</mat-option>
                                                                                </mat-select>
                                                                            </div>
                                                                        </div>
                                                                        <span *ngIf="childField?.status?.includes('Successful')" class="font_10 clrgreen mgnleft5" style="position:absolute; left:0">{{childField.status}}</span>
                                                                        <span *ngIf="childField?.status?.includes('Failed')" class="font_10 clrred mgnleft5" style="position:absolute; left:0">{{childField.status}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div *ngSwitchCase="'select'">
                                                                <div *ngFor="let childField of chchChild?.field">
                                                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="mgntop10 inlineeditdiv">
                                                                        <div class="text">{{childField.fieldname}}</div>
                                                                        <mat-select class="text" placeholder="{{childField.placeholder}}" [(ngModel)]="childField.value" name="childField.controlname" style="width:180px" class="capitalize select" required (selectionChange)="updCHFieldValue(idx,childField,grid)">
                                                                            <mat-option *ngFor="let sel of childField.options" [value]="sel">{{sel}}</mat-option>
                                                                        </mat-select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div *ngSwitchCase="'chipset'">
                                                                <div *ngFor="let chField of chchChild?.field">
                                                                    <div class="subgrplabel">{{chField?.selLabel}}</div>
                                                                    <div fxLayout="row wrap" fxLayoutAlign="start center">
                                                                        <div *ngFor="let option of chField['value']; let i = index;" class="font_12 mgnbtm10 " style="width: fit-content;" >
                                                                            <div fxLayout="row" fxLayoutAlign="start center" class="chipset-active mgnrgt10" (click) ="chField['value']?.splice(i,1);updCHFieldValue(idx, chField, grid)" >
                                                                                <span class="font_12">{{option}}</span>
                                                                                <mat-icon class="mgnleft5 md-18 pointer">clear</mat-icon>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="subgrplabel">{{chField?.unselLabel}}</div>
                                                                    <div fxLayout="row wrap" fxLayoutAlign="start center">
                                                                        <div *ngFor="let option of chField['options']; let i = index;" class="font_12 mgnbtm10 ">
                                                                            <div *ngIf="chField['value']?.indexOf(option) == -1" fxLayout="row" fxLayoutAlign="start center" class="chipset-inactive mgnrgt10" (click) ="chField['value'].push(option);updCHFieldValue(idx, chField, grid)">
                                                                                <span class="font_12">{{option}}</span>
                                                                                <mat-icon class="mgnleft5 md-18 pointer">add</mat-icon>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <span *ngIf="chField?.status?.includes('Successful')" class="font_10 clrgreen mgnleft5">{{chField.status}}</span>
                                                                    <span *ngIf="chField?.status?.includes('Failed')" class="font_10 clrred mgnleft5">{{chField.status}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'numsmall'" class="mgnleft10" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">
                                            <div *ngFor="let chField of field[grpField]?.field" class="mgnleft10">
                                                <div *ngIf="!chField?.edit" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                                    <div *ngIf="grid.view_text==undefined && chField.dispname==undefined" class="font_12">{{chField.fieldname}}: {{chField.value}}{{chField.fieldname.includes('%') ? '%':''}}
                                                    </div>
                                                    <div *ngIf="grid.view_text==undefined && chField.dispname!=undefined">
                                                        <span class="font_12">{{chField?.dispname?.replace('$$'+chField.controlname+'$$',chField.value)}}</span>
                                                    </div>
                                                    <mat-icon  class="md-16 pointer" (click)="editIPField(chField)">edit</mat-icon>
                                                </div>
                                                <div *ngIf="chField?.edit" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                                    <div>{{chField.fieldname}}</div>
                                                    <input style="width:50px" placeholder="{{chField.fieldname}}" type="number" [formControl]="chField.FormCntrl">
                                                    <mat-icon *ngIf="chField?.FormCntrl.valid" class="md-16 clrgreen pointer" (click)="savechField(chField,grid,field[grpField]?.type)">save</mat-icon>
                                                    <mat-icon *ngIf="chField?.FormCntrl.invalid" class="md-16 clrgreen" style="opacity:0.5">save</mat-icon>
                                                    <mat-icon class="md-16 clrred pointer" (click)="chField.edit=false; chField.FormCntrl=undefined;">cancel</mat-icon>
                                                </div>
                                                <div style="width:100%">
                                                    <mat-error *ngIf="chField?.FormCntrl?.invalid&&chField?.FormCntrl?.dirty" class="txterror" style="padding-left:25px">{{getErrorMessage(chField?.FormCntrl,'FormCntrl')}}</mat-error>
                                                </div>
                                                <span *ngIf="chField.status?.includes('Successful')" class="font_10 clrgreen mgnleft5">{{chField.status}}</span>
                                                <span *ngIf="chField.status?.includes('Failed')" class="font_10 clrred mgnleft5">{{chField.status}}</span>
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'textarea'" class="mgnleft10">
                                            <div fxLayout="column" fxLayoutGap="5px">
                                                <div *ngFor="let chField of field[grpField]?.field">
                                                    <div *ngIf="!chField?.edit" fxLayout="row" fxLayout="start center" fxLayoutGap="10px">
                                                        <div  fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                                                            <div class="font_12">{{chField.fieldname}}</div>
                                                            <div class="font_12">{{chField.value}}</div>    
                                                        </div>
                                                        <mat-icon  class="md-16 pointer" (click)="editIPField(chField)">edit</mat-icon>
                                                    </div>
                                                    <div *ngIf="chField?.edit" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                                        <div fxLayout="column">
                                                            <div>{{chField.fieldname}}</div>
                                                            <textarea style="width:200px" placeholder="{{chField.fieldname}}" type="number" [formControl]="chField.FormCntrl"></textarea>
                                                        </div>
                                                        <mat-icon *ngIf="chField?.FormCntrl.valid" class="md-16 clrgreen pointer" (click)="savechField(chField,grid,field[grpField]?.type)">save</mat-icon>
                                                        <mat-icon *ngIf="chField?.FormCntrl.invalid" class="md-16 clrgreen" style="opacity:0.5">save</mat-icon>
                                                        <mat-icon class="md-16 clrred pointer" (click)="chField.edit=false; chField.FormCntrl=undefined;">cancel</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'text'" class="mgnleft10">
                                            <div fxLayout="column" fxLayoutGap="5px">
                                                <div *ngFor="let chField of field[grpField]?.field">
                                                    <!-- <div *ngIf="!chField?.edit" fxLayout="row" fxLayout="start center" fxLayoutGap="10px">
                                                        <div *ngIf="chField.dispname==undefined">
                                                            <span class="font_12">{{chField.fieldname}}: {{chField.value}}</span>
                                                        </div>
                                                        <div *ngIf="chField.dispname!=undefined">
                                                            <span class="font_12">{{chField?.dispname?.replace('$$'+chField.controlname+'$$',chField.value)}}</span>
                                                        </div>
                                                        <mat-icon  class="md-16 pointer" (click)="editIPField(chField)">edit</mat-icon>
                                                    </div> -->
                                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="inlineeditdiv">
                                                        <div><mat-checkbox [(checked)]="chField.value" style="margin-left:-10px !important"></mat-checkbox></div>
                                                        <input style="width:95%" class="ip" placeholder="{{chField?.placeholder}}" type="text" [(ngModel)]="chField.value" (keypress)="$event.key=='Enter' ? updCHFieldValue(idx,chField,grid):''" (blur)="updCHFieldValue(idx,chField,grid)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'radio'" class="mgnleft10">
                                            <div *ngIf="grid.view_text==undefined">
                                                <div *ngFor="let chField of field[grpField]?.field">
                                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                                                        <span *ngIf="chField?.dispname && !chField?.edit" class="txt">{{chField?.dispname?.replace('$$'+chField.controlname+'$$',chField.value)}}</span>
                                                        <span *ngIf="chField?.dispname==undefined && !chField?.edit"class="txt">{{chField.value}}</span>
                                                        <mat-icon *ngIf="!chField?.edit" class="md-16 pointer" (click)="editField(chField)">edit</mat-icon>
                                                        <div *ngIf="chField.edit" >
                                                            <label *ngIf="field.group!=chField.fieldname" mat-label id="radio-group-label">{{chField.fieldname}}</label>
                                                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px" class="mgntop20">
                                                                <mat-radio-group aria-labelledby="radio-group-label" [formControl]="chField['FormCntrl']">
                                                                    <mat-radio-button class="mgnrgt10 font_12" color="primary" *ngFor="let option of chField.options" [value]="option">
                                                                        <span>{{option}}</span>
                                                                    </mat-radio-button>
                                                                  </mat-radio-group>
                                                                  <div *ngIf="chField.FormCntrl.value == 'Others'">
                                                                    <div class="inputbox inboxminwidth" fxLayout="column" fxLayout="start center">
                                                                        <div *ngIf="chField.FormCntrlOthers.dirty" class="label" [ngClass]="{'labelerr':chField.FormCntrlOthers.invalid && chField.FormCntrlOthers.dirty}">{{chField.fieldname}}</div>
                                                                        <input class="text" type="number" placeholder="{{chField.fieldname}}" [formControl]="chField['FormCntrlOthers']" name="days">
                                                                    </div>
                                                                    <div style="width:100%">
                                                                        <mat-error *ngIf="chField.FormCntrlOthers.invalid&&chField.FormCntrlOthers.dirty" class="txterror" style="padding-left:25px">{{getErrorMessage(chField.FormCntrlOthers,'FormCntrlOthers')}}</mat-error>
                                                                    </div>
                                                                </div>
                                                                <mat-icon *ngIf="chField?.edit" class="md-16 clrgreen pointer" (click)="savechField(chField,grid,field[grpField]?.type)">save</mat-icon>
                                                                <mat-icon *ngIf="chField?.edit" class="md-16 clrred pointer" (click)="chField.edit=false;chField.FormCntrlOthers=undefined;chField.FormCntrl=undefined ;">cancel</mat-icon>
                                                            </div>
                                                        </div>
                                                        <span *ngIf="chField.status?.includes('Successful')" class="font_10 clrgreen mgnleft5">{{chField.status}}</span>
                                                        <span *ngIf="chField.status?.includes('Failed')" class="font_10 clrred mgnleft5">{{field.status}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="dispLCLCons" class="mainsection" [style.width.px]="screen.width-160" >
            <div><span class="txt" style="font-size: 14px; margin-left:0px" >LCL Consolidation Program Details</span></div>
            <div class="mgntop10">
                <mat-grid-list cols="1" rowHeight="50px" gutterSize="10px" style="width:100%">
                    <mat-grid-tile *ngFor="let grid of lclConsColl; let ix=index">
                        <div fxLayout="row" fxLayoutAlign="start center" style="width:100%;height:100%">
                            <div fxLayout="row" fxLayoutAlign="start center" >
                                <mat-icon *ngIf="grid.is_selected" class="clrblue pointer mgnleft10" matTooltip="Click to remove" (click)="grid.is_selected=false;removeComm(grid,ix)">check_box</mat-icon>
                                <mat-icon *ngIf="!grid.is_selected" class="clrblue pointer mgnleft10" matTooltip="Click to Add" (click)="grid.is_selected=true;saveCommunication(grid,'LCL Consolidation')">check_box_outline_blank</mat-icon>
                            </div>
                            <div *ngIf="!grid.edit && grid.msg==undefined" style="padding-left:5px; max-height:40px; overflow-y: auto; width:98%">{{grid.instruction}}</div>
                            <div *ngIf="grid.msg!=undefined" fxLayoutAlign="center center" style="height:100%; width:100%">{{grid.msg}}</div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div style="width:100%; padding:2px; height:50px; margin-top:10px" >
                    <textarea cdkTextareaAutosize mat-input id="newinst}" placeholder="Type your Instruction here and enter to save" style="outline: none; min-height: 40px; width:98%; border:none; border-bottom:1px solid var(--active);" appearance="fill" [(ngModel)]="newInstruction" (keypress)="saveCommunication(undefined, 'LCL Consolidation', $event.key)" ></textarea>
                </div>
            </div>
        </div> -->
        <!-- <div *ngIf="dispFCLCons" class="mainsection" [style.width.px]="screen.width-160"> 
            <div><span class="txt" style="font-size: 14px; margin-left:0px" >FCL Program Details</span></div>
            <div style="margin-top:10px">
                <mat-grid-list cols="1" rowHeight="60px" gutterSize="10px">
                    <mat-grid-tile *ngFor="let grid of fclConsColl; let ix=index">
                        <div fxLayout="row" fxLayoutAlign="start center" style="width:100%;height:100%">
                            <div fxLayout="row" fxLayoutAlign="start center" >
                                <mat-icon *ngIf="grid.is_selected" class="clrblue pointer mgnleft10" matTooltip="Click to remove" (click)="grid.is_selected=false;removeComm(grid,ix)">check_box</mat-icon>
                                <mat-icon *ngIf="!grid.is_selected" class="clrblue pointer mgnleft10" matTooltip="Click to Add" (click)="grid.is_selected=true;saveCommunication(grid,'FCL Program')">check_box_outline_blank</mat-icon>
                            </div>
                            <div *ngIf="!grid.edit && grid.msg==undefined" style="padding-left:5px; max-height:55px; overflow-y: auto; width:98%">{{grid.instruction}}</div>
                            <div *ngIf="grid.msg!=undefined" fxLayoutAlign="center center" style="height:100%; width:100%">{{grid.msg}}</div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div style="width:100%; padding:2px; height:50px; margin-top:10px" >
                    <textarea cdkTextareaAutosize mat-input id="newinst}" placeholder="Type your Instruction here and enter to save" style="outline: none; min-height: 40px; width:98%; border:none; border-bottom:1px solid var(--active);" appearance="fill" [(ngModel)]="newInstruction" (keypress)="saveCommunication(undefined, 'FCL Program', $event.key)" ></textarea>
                </div>

            </div>
        </div> -->
        <!-- <div *ngIf="dispCP">
            Work in progress
        </div> -->
    </div>
</div>
