<!-- <div>
    <form [formGroup]="form" [style.height.px]="height-64" fxLayout="row" [fxLayoutAlign]="formLayoutAlign">
        <mat-card fxFlex="30" fxFlex.md="40" fxFlex.sm="60" fxFlex.xs="90">
            <mat-card-header>
                <mat-card-title style="padding-left:16px">Change Password</mat-card-title>
            </mat-card-header>
            <mat-card-content style="margin-top:10px;width:100%">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <div class="inputbox inboxminwidth">
                        <div class="label">Old Password</div>
                        <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                            <input class="text" formControlName="OldPassword" [type]="ophide ? 'password' : 'text'" name="OldPassword" id="OldPassword" required>
                        </div>
                    </div>
                    <div style="width:100%">
                        <mat-error *ngIf="form.get('OldPassword').invalid&&form.get('OldPassword').dirty" class="txterror" style="margin-left:30px; padding-left:25px">{{getErrorMessage(form.get('OldPassword'),'OldPassword')}}</mat-error>
                    </div>
                    <div class="inputbox inboxminwidth">
                        <div class="label">New Password</div>
                        <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                            <input class="text" formControlName="Password" [type]="phide ? 'password' : 'text'" name="Password" id="Password" required>
                        </div>
                   </div>
                   <div style="width:100%">
                    <mat-error *ngIf="form.get('Password').invalid&&form.get('Password').dirty" class="txterror" style="margin-left:30px; padding-left:25px">{{getErrorMessage(form.get('Password'),'Password')}}</mat-error>
                </div>
                    <div class="inputbox inboxminwidth">
                        <div class="label">Confirm Password</div>
                        <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                            <input class="text" formControlName="Confirm" [type]="cphide ? 'password' : 'text'" name="Confirm" id="Confirm" required>
                        </div>
                    </div>
                    <div style="width:100%">
                        <mat-error class="txterror" style="margin-left:50px; padding-left:25px">{{getErrorMessage(form,'form')}}</mat-error>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <button id="close" class="btnsecondary btnauto" (click)="onClose()">Cancel</button>
                    <button id="btnChPass" class="btnpri btnauto" (click)="changePassword()">Change Password</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div> -->

<!-- 
<div style="margin-bottom:20px;" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="-6px">
    <label class="txtclr font_14">Company Name *</label>
    <div class="inputbox companyinputminwidth" [ngClass]="{'errtxtbdr':form.get('Password').invalid && form.get('Password').dirty , 'validtext' : form.get('Password').valid}">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" style="height:100%">
      <img src='../../assets/image/svg/pending-actions-24-px.svg' style="width:24px; height:24px;"/>
      <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
        <input style="outline:none; background-color:var(--white)" class="text" placeholder="Company Name" formControlName="Password" name="Password" id="Password" (keyup)="checkPassword()" required>
      </div>
    </div>
    <div fxLayout="column">
      <mat-error style="margin-left:-30px; padding-top:5px; margin-top:2px;" *ngIf="form.get('Password').invalid && form.get('Password').dirty" class="txterror" >{{getErrorMessage(form.get('Password'),'Password')}}</mat-error>
    </div>
    </div>
</div> -->


<div [style.height.px]="height" style="padding-top: 60px;" fxLayout="column" fxLayoutAlign="center center">
    <div [style.height.px]="height" [style.width.px]="width - 900" fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="form" fxLayout="column" fxLayoutAlign="center center" autocomplete="new-field">
            <!-- New password-->
            <div style="margin-bottom: 20px;" fxLayout="column" fxLayoutAlign="start start">
                <label class="txtclr font_14">New Password *</label>
                <div class="inputbox companyinputminwidth" [ngClass]="{'errtxtbdr':form.get('Password').invalid && form.get('Password').dirty , 'validtext' : form.get('Password').valid}" style="width: 300px;">
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" style="height:100%">
                        <mat-icon [ngClass]="{'iconprimary': form.get('Confirm').valid, 'iconinactive': form.get('Confirm').invalid}" class ="iconprimary">lock</mat-icon>
                        <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                            <input style="outline:none; background-color:var(--white)" class="text" [type]="phide ? 'password' : 'text'" placeholder="Enter New Password" formControlName="Password" (focus)="passwordTouched = true;" (focusout)="passwordTouched = false;" autocomplete="new-field" autofocus name="Password" id="Password" required>
                        </div>
                        <div [ngStyle]="{'display': passwordTouched && form.get('Password').invalid ? 'block': 'none'}" style="position: absolute; left: 180px;">
                            <div class="box arrow-right" style="width: 250px !important; padding: 10px !important; height: fit-content;" fxLayout="column">
                                <span class="clrwhite font_12">Make it at least 8 characters long, with numbers and special characters($,%,&,…)</span>
                            </div>
                        </div>
                        <div *ngIf="form.get('Password').valid" [ngStyle]="{'display': passwordTouched && form.get('Password').valid ? 'block': 'none'}" style="position: absolute; left: 180px;">
                            <div class="box arrow-right" style="width: 250px !important; padding: 10px !important; height: fit-content;" fxLayout="column">
                                <span class="clrwhite font_12">Great! This will do! Just don't forget it.</span>
                            </div>
                        </div>
                        <mat-icon matSuffix class="iconprimary pointer md-20" (click)="phide = !phide">{{phide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <mat-error style="margin-left:-30px; margin-top: 4px;" *ngIf="form.get('Password').invalid && form.get('Password').dirty && !form.get('Password').errors.pattern" class="txterror" >{{getErrorMessage(form.get('Password'),'Password')}}</mat-error>
                </div>
            </div>
            <!-- Confirm password-->
            <div style="margin-bottom: 20px;" fxLayout="column" fxLayoutAlign="start start">
                <label class="txtclr font_14">Confirm New Password *</label>
                <div class="inputbox companyinputminwidth" [ngClass]="{'errtxtbdr':form.get('Confirm').invalid && form.get('Confirm').dirty , 'validtext' : form.get('Confirm').valid}" style="width: 300px;">
                    <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" style="height:100%">
                        <mat-icon [ngClass]="{'iconprimary': form.get('Confirm').valid, 'iconinactive': form.get('Confirm').invalid}" class ="iconprimary">lock</mat-icon>
                        <div fxLayout="column" fxLayoutAlign="center start" style="width:100%">
                            <input style="outline:none; background-color:var(--white)" class="text" placeholder="Confirm your Password" [type]="cphide ? 'password' : 'text'" formControlName="Confirm" autocompletee="new-field" name="Confirm" id="Confirm" required>
                        </div>
                        <mat-icon matSuffix class="iconprimary pointer md-20" (click)="cphide = !cphide">{{cphide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <mat-error style="margin-left:-30px; padding-top:5px; margin-top:2px;" *ngIf="form.get('Confirm').invalid && form.get('Confirm').dirty" class="txterror" >{{getErrorMessage(form.get('Confirm'),'Confirm')}}</mat-error>
                    <mat-error *ngIf="!form.get('Confirm').invalid" style="margin-left:-30px; margin-top: 10px !important;" class="txterror" >{{getErrorMessage(form,'form')}}</mat-error>
                </div>
            </div>
            <!-- <div style="background-color: var(--textcolor); height: fit-content; border-radius: 6px; padding: 8px;">
                <span class="clrwhite font_12">Password must be at least 8 characters long, with numbers and special characters($,%,&,…)</span>
            </div> -->
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" style="margin-top: 30px;">
                <button matTooltip="Cancel" class="btnsecondary btnprifull" id="Cancel" style="width: fit-content !important; height: 40px !important; padding: 6px 12px;" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px" (click)="onClose()">
                    <mat-icon>block</mat-icon>
                    <span class="clrblue">Cancel</span>
                </button>
                <button matTooltip="change password" class="btnpri btnprifull" id="Save" style="width: fit-content !important; height: 40px !important; padding: 6px 12px;" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px" (click)="changePassword()" [disabled]="form.invalid">
                    <mat-icon>vpn_key</mat-icon>
                    <span class="clrwhite">Change Password</span>
                </button>
            </div>
        </form>
    </div>
</div>
